# Entornos virtuales
venv/
*.venv
env/

# Archivos de cache de Python
__pycache__/
*.pyc

# Archivos del editor/IDE
.idea/
.vscode/

# Archivos de compilación de PyInstaller
/dist/
/build/
*.spec

# Archivos generados por la aplicación
*.html

# Archivos del sistema operativo
.DS_Store