# Archivos de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# Archivos de compilación de PyInstaller
build/
dist/
*.spec

# Base de datos y configuración (opcional)
# Si quieres que cada usuario tenga la suya, ignóralas.
# Si quieres que la base de datos se guarde en el repo, comenta estas líneas.
# montaje.db
# config.ini

# Archivos del sistema operativo
.DS_Store
Thumbs.db